/* DIV DOS ACESSOS LINKS */

.acessos {
    top: 100px;
    position: absolute;
    align-items: center;
    left: 0%;
    width: 53%;
    height: 1700px;
    border: 2px solid black;
    box-shadow: inset 0 0 1em gold, 0 0 1em black;
}

/* ACESSOS LINKS */ 

img 
{
    position: relative;
    width: 200px;
    padding: 14px;
}

img.assistencia {
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}

img.calendario {
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}

img.evasao {
   box-shadow: inset 0 0 1em black, 0 0 1em black;
}

img.trancamento {
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}

img.cadastro {
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}

img.criacao {
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}

img.justificativa {
    box-shadow: inset 0 0 1em black, 0 0 1em black;
}